{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
<div class="container">
    
    <h3>We have {{ count }} recipes for you in this category:</h3>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}" onerror="this.src='{% static 'images/default_recipe_image.png' %}'">
                    <div class="card-body">
                        <h5 class="card-title" >{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="{% url 'recipe:recipe' recipe.name_slug %}" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>



{% endblock %}
