{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}{{ recipe.name|title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 mb-3" >
            <h5>{{ recipe.name|title }}</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}" onerror="this.src='{% static 'images/default_recipe_image.gif' %}'">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    {% if request.user.id == recipe.chef_id %}
                    <a href="{% url 'recipe:delete_recipe' recipe.name_slug %}"><i class="fa-solid fa-trash fa-lg"></i></a>&nbsp;&nbsp;
                    <a href="{% url 'recipe:update_recipe' recipe.name_slug %}"><i class="fas fa-edit fa-lg"></i></a>

                    {% endif %}
                    {% endif %}
                    <h5 class="card-title">Ingredients:</h5>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    {% if recipe.serves %}
                        <h5>Portions: {{ recipe.serves }}</h5>
                    {% endif %}
                    {% if recipe.nutrients %}
                        <h5 class="card-title">Nutrition per portion:</h5>
                        <ul>
                            {% for nutrition, value in recipe.nutrients.items %}
                                <li>{{ nutrition }} - {{ value }}<br></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Instructions:</h5>
                <ul>
                {% for steps in recipe.steps %}
                   <li> {{ steps }} </li>
                {% endfor %}
                </ul>
                
                {% if recipe in request.user.userprofile.favorite_recipes.all %}
                    <h5 class="card-title">Remove From Favorite Recipes:</h5>
                    <a href="{% url 'recipe:remove_favorite' recipe.name_slug %}"><i class="fa-solid fa-heart-circle-minus fa-lg" style="color: #ff0032;"></i></i></a>
                {% else %}
                    <h5 class="card-title">Add To Favorite Recipes:</h5>
                    <a href="{% url 'recipe:add_favorite' recipe.name_slug %}"><i class="fa-solid fa-heart-circle-plus fa-lg" style="color: #ff0032;"></i></i></a>
                {% endif %}
                <br><br>
                <h5 class="card-title">Tags:</h5>
                <a href="{% url 'recipe:category' recipe.maincategory_slug %}"><button type="button" class="btn btn-outline-info">{{ recipe.maincategory|title }}</button></a>
                <a href="{% url 'recipe:category' recipe.subcategory_slug %}"><button type="button" class="btn btn-outline-info">{{ recipe.subcategory }}</button></a>
                <a href="{% url 'recipe:category' recipe.dish_type_slug %}"><button type="button" class="btn btn-outline-info">{{ recipe.dish_type }}</button></a>
                <br><br>
                <h5 class="card-title">Share the recipe:</h5>
                <a href="#" onclick="window.print(); return false;"><i class="fa-solid fa-print fa-lg"></i></a>&nbsp;
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% url 'recipe:recipe' recipe.name_slug %}" target="_blank" rel="noopener"><i class="fab fa-facebook-square fa-lg"></i></a>&nbsp;
                <a href="mailto:?subject=Check%20out%20this%20page&body=I%20thought%20you%20might%20find%20this%20interesting:%0D%0A%0D%0Ahttp://127.0.0.1:8000{% url 'recipe:recipe' recipe.name_slug %}"><i class="fa-solid fa-envelope fa-lg"></i></a>&nbsp;
                  
            </div>
            </div>
        </div>
    </div>
</div>
<section style="background-color: #ffffff;">
    <div class="container my-5 py-5 text-dark">
      <div class="row d-flex justify-content-center">
        <div class="col-md-11 col-lg-9 col-xl-7">
            {% if comments %}
            <h5>Comments:</h5>
            {% endif %}
            {% for comment in comments.all %}
            <div class="d-flex flex-start mb-4">
                {% if comment.user.userprofile.profile_picture %}
                <a href="{% url 'users:profile_view' comment.user.id %}"><img class="rounded-circle shadow-1-strong me-3"
                    src="{{ comment.user.userprofile.profile_picture.url }}" alt="avatar" width="65"
                    height="65" />
                </a>
                {% else %}
                <a href="{% url 'users:profile_view' comment.user.id %}"><img class="rounded-circle shadow-1-strong me-3"
                    src="{% static 'images/default_user_image.png' %}" alt="avatar" width="65"
                    height="65" />
                {% endif %}

                <div class="card w-100">
                <div class="card-body p-4">
                    <div class="">
                    <h5><a href="{% url 'users:profile_view' comment.user.id %}" class="text-decoration-none text-reset">{{ comment.user }}</a></h5>
                    <p class="small">{{ comment.created_at }}</p>
                    <p>{{ comment.text }}</p>
    
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                        <a href="#!" class="text-decoration-none link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                        <a href="#!" class="text-decoration-none link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                        </div>
                        <a href="#!" class="text-decoration-none link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            {% if user.is_authenticated %}
            <div class="container">
                <h1>Add Your Comment</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.text.label_tag }}
                    {{ form.text }}
                    <br>
                    <button type="submit" class="btn btn-secondary">Add Comment</button>
                    <br><br>
                </form>
            </div>
            {% endif %}
        </div>
      </div>
    </div>
    
  </section>
{% endblock %}
