{% extends 'main_app/base.html' %}
{% load static %}
{% block title %}{{ recipe.name|title }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 mb-3" >
            <h5>{{ recipe.name|title }}</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}" onerror="this.src='{% static 'images/default_recipe_image.gif' %}'">
                <div class="card-body">
                    <h5 class="card-title">Ingredients:</h5>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                    {% if recipe.serves %}
                        <h5>Portions: {{ recipe.serves }}</h5>
                    {% endif %}
                    {% if recipe.nutrients %}
                        <h5 class="card-title">Nutrition per portion:</h5>
                        <ul>
                            {% for nutrition, value in recipe.nutrients.items %}
                                <li>{{ nutrition }} - {{ value }}<br></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Instructions:</h5>
                <ul>
                {% for steps in recipe.steps %}
                   <li> {{ steps }} </li>
                {% endfor %}
                </ul>
                <h5 class="card-title">Tags:</h5>
                <a href="{% url 'recipe:category' recipe.maincategory_slug %}"><button type="button" class="btn btn-outline-info">{{ recipe.maincategory|title }}</button></a>
                <a href="{% url 'recipe:category' recipe.subcategory_slug %}"><button type="button" class="btn btn-outline-info">{{ recipe.subcategory }}</button></a>
                <a href="{% url 'recipe:category' recipe.dish_type_slug %}"><button type="button" class="btn btn-outline-info">{{ recipe.dish_type }}</button></a>
                <br><br>
                <h5 class="card-title">Share the recipe:</h5>
                <a href="#" onclick="window.print(); return false;"><i class="fa-solid fa-print"></i></a>&nbsp;
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{% url 'recipe:recipe' recipe.name_slug %}" target="_blank" rel="noopener"><i class="fab fa-facebook-square"></i></a>&nbsp;
                <a href="mailto:?subject=Check%20out%20this%20page&body=I%20thought%20you%20might%20find%20this%20interesting:%0D%0A%0D%0Ahttp://127.0.0.1:8000{% url 'recipe:recipe' recipe.name_slug %}"><i class="fa-solid fa-envelope"></i></a>&nbsp;
                  
            </div>
            </div>
        </div>
    </div>
</div>
                
{% endblock %}
