<!-- recipe_list.html -->
{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}Recipe List{% endblock %}

{% block content %}
<div class="container">
    <h1>Recipe List</h1>
    <div class="row">
        {% for recipe in recipes %}
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}">
                    <div class="card-body">
                        <h5 class="card-title" >{{ recipe.name }}</h5>
                        <p class="card-text">{{ recipe.description }}</p>
                        <a href="#" class="btn btn-primary">View Recipe</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
