<!-- Header Section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'main_app:index' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <!-- Your category links here -->
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'recipes' %}">Recipes</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'health' %}">Healthy</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'budget' %}">Budget</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'baking' %}">Baking</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'vegetarian' %}">Vegetarian</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'vegan' %}">Vegan</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'high-protein' %}">High Protein</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'keto' %}">Keto</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe:category' 'desserts' %}">Desserts</a></li>
          </ul>
        </li>
      </ul>

      <!-- Move the Login/Logout button to the right -->
      <ul class="navbar-nav ml-auto">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:register' %}">Register</a>
        </li>
        {% else %}
          {% if user.userprofile %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:profile_view' request.user.userprofile.user_id %}">{{ user }}</a>
          </li>
          {% endif %}

        {% endif %}
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login_user' %}">Login</a>
        </li>
        {% else %}
        <script>
          function confirmAction() {
            return confirm('Are you sure you want to log out?');
          }
        </script>
        <li>
          <a href="{% url 'users:inbox' %}"><button type="button" class="btn btn-outline-danger">Inbox</button></a>
        </li>&nbsp;
        <li>
          <a href="{% url 'recipe:add_recipe' %}"><button type="button" class="btn btn-success">Add Recipe</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout_user' %}" onclick="return confirmAction();">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
