{% extends 'main_app/base.html' %}
{% load static %}
{% block content %}
<div class="container" style="width: 80%">
    <h1>My Inbox</h1>

    {% for message in last_messages %}
        {% if message.sender == request.user %}
            <a href="#">
                <div class="d-flex flex-start mb-4">
                    {% if message.receiver.userprofile.profile_picture %}
                    <a href="{% url 'users:profile_view' message.receiver.id %}"><img class="rounded-circle shadow-1-strong me-3"
                        src="{{ message.receiver.userprofile.profile_picture.url }}" alt="avatar" width="65"
                        height="65" />
                    </a>
                    {% else %}
                    <a href="{% url 'users:profile_view' message.receiver.id %}"><img class="rounded-circle shadow-1-strong me-3"
                        src="{% static 'images/default_user_image.png' %}" alt="avatar" width="65"
                        height="65" />
                    {% endif %}
                    
                    <div class="card w-100" style="background-color: #f0f0f0">
                        <a href="{% url 'users:conversation' message.receiver.id %}" style="text-decoration: none; color: inherit;">
                        <div class="card-body p-2">
                            <div class="col-10">
                                <h5>{{ message.receiver }}</h5>
                            </div>
                            <p>YOU: {{ message.content|slice:":120" }}{% if message.content|length > 120 %}...{% endif %}</p>
                            <p class="small">{{ message.timestamp|date:"d/m" }} at {{ message.timestamp|date:"H:i" }}</p>
    
    
                        
                        </div>
                        </a>
                    </div>
                    
                </div>
            
        {% else %}
            <!--zobrazit profilovku sendera -->
            <!--zobrazit SENDER: zpráva-->
            <!--zobrazit čas-->
            
                <div class="d-flex flex-start mb-4">
                    {% if message.sender.userprofile.profile_picture %}
                    <a href="{% url 'users:profile_view' message.receiver.id %}"><img class="rounded-circle shadow-1-strong me-3"
                        src="{{ message.sender.userprofile.profile_picture.url }}" alt="avatar" width="65"
                        height="65" />
                    </a>
                    {% else %}
                    <a href="{% url 'users:profile_view' message.receiver.id %}"><img class="rounded-circle shadow-1-strong me-3"
                        src="{% static 'images/default_user_image.png' %}" alt="avatar" width="65"
                        height="65" />
                    {% endif %}
                    <a href="{% url 'main_app:index' %}">
                    <div class="card w-100" style="background-color: #f0f0f0;">
                        <div class="card-body p-2">
                            <div class="col-10">
                                <h5><a href="{% url 'users:profile_view' message.receiver.id %}" class="text-decoration-none text-reset">{{ message.sender }}</a></h5>
                            </div>
                            <p>{{ message.content|slice:":120" }}{% if message.content|length > 120 %}...{% endif %}</p>
                            <p class="small">{{ message.timestamp|date:"d/m" }} at {{ message.timestamp|date:"H:i" }}</p>
                        
                        </div>
                    </div>
                    </a>
                </div>
                
                
        {% endif %}
    {% endfor %}

</div>
{% endblock %}

