{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-3">
    {% if profile %}
    <!-- First Card -->
    <div class="card">
        {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture.url }}" class="card-img-top" alt="Profile Picture">
        {% else %}
        <img src="{% static 'images/default_user_image.png' %}" class="card-img-top" alt="Profile Picture">
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ profile.user.username }}</h5>
        {% if profile.bio %}
        <p class="card-text">Bio: {{ profile.bio }}</p>
        {% endif %}
        {% if profile.social_links %}
        <a href="{{ profile.social_links}}"><i class="fa-solid fa-link mb-3"></i></a>
        {% endif %}
        <br>
        {% if request.user.id == profile.user_id %}
        <a href="{% url 'users:update_profile' %}" class="btn btn-primary">Update Profile</a>
        {% else %}
        <a href="{% url 'users:conversation' profile.user_id %}" class="btn btn-primary">Contact {{ profile.user.username }}</a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-9">
    <!-- Second Card -->
    <div class="card">
      <div class="container">
        <h5>{{ user.username|title }}'s Recipes:</h5>
        <div class="row">
        {% if profile_recipes %}
          {% for recipe in profile_recipes.all %}
          <div class="col-md-3">
            <div class="card mb-3">
              <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}" onerror="this.src='{% static 'images/default_recipe_image.gif' %}'">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                {% if user.is_authenticated %}
                {% if request.user.id == recipe.chef_id %}
                <a href="{% url 'recipe:delete_recipe' recipe.name_slug %}"><i class="fa-solid fa-trash"></i></a>&nbsp;&nbsp;
                <a href="{% url 'recipe:update_recipe' recipe.name_slug %}"><i class="fas fa-edit"></i></a>
                <br>
                {% endif %}
                {% endif %}
                <a href="{% url 'recipe:recipe' recipe.name_slug %}" class="btn btn-primary">View Recipe</a>

              </div>
            </div>
          </div>
        
          {% if forloop.counter|divisibleby:4 and not forloop.last %}
          </div><div class="row">
          {% endif %}
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
    <br>
    <!-- Third Card -->
    <div class="card">
      <div class="container">
        <h5>{{ user.username|title }}'s Favourite Recipes:</h5>
        <div class="row">
        {% if profile.favorite_recipes %}
          {% for recipe in profile.favorite_recipes.all %}
          <div class="col-md-3">
            <div class="card mb-3">
              <img src="{{ recipe.image }}" class="card-img-top" alt="{{ recipe.name }}" onerror="this.src='{% static 'images/default_recipe_image.gif' %}'">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{% url 'recipe:recipe' recipe.name_slug %}" class="btn btn-primary">View Recipe</a>
              </div>
            </div>
          </div>
        
          {% if forloop.counter|divisibleby:4 and not forloop.last %}
          </div><div class="row">
          {% endif %}
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
