{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    
    <!-- Display the current profile picture -->
     {% if profile_form.instance.profile_picture %}
        <img src="{{ profile_form.instance.profile_picture.url }}" alt="Current Profile Picture" style="max-width: 200px; max-height: 200px;">
    {% endif %}
    {{ profile_form.instance.profile_picture.clear_label_tag }}
    {{ profile_form.instance.profile_picture.input }}
    
    <!-- Display the rest of the form fields -->
    {{ profile_form.as_p }}
    <p><a href="{% url 'users:password_change' %}">Click Here</a> to change your password.</p>
    
    <br>
    <button type="submit" class="btn btn-secondary">Update</button>
</form>
{% endblock %}
